.nav-link {
  display: block;
  margin-top: 1px;
  margin-left: 14px;
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-family: Averta, sans-serif;
  color: #465a70;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.2px;
  text-transform: none;
}

.nav-link:hover {
  color: #101822;
}

.nav-link.w--current {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #03926e;
  font-weight: 700;
}

.nav-link.pricelist {
  display: block;
  margin-top: 0px;
  font-weight: 700;
  text-decoration: none;
  text-transform: none;
}

.section-header {
  margin-bottom: 90px;
}

.section-title {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Circularstd, sans-serif;
  color: #18394c;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  text-align: center;
}

.section-subhead {
  margin-top: 10px;
  font-family: Avenir, sans-serif;
  color: #556f80;
  font-size: 20px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;
}

.section-subhead.narrower-middle {
  margin-right: auto;
  margin-left: auto;
  color: #556f80;
  font-size: 1.2em;
  line-height: 1.5em;
}

.section-subhead.narrower-middle {
  margin-right: auto;
  margin-left: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #556f80;
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: 400;
}

.section-3 {
  overflow: hidden;
  padding-top: 197px;
  padding-bottom: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(22%, hsla(0, 0%, 100%, 0)), color-stop(58%, rgba(6, 20, 12, 0.2))), url('../images/restaurant.jpg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 22%, rgba(6, 20, 12, 0.2) 58%), url('../images/restaurant.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.hero-section-2 {
  padding: 290px 10% 250px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(5, 12, 20, 0.68)), to(hsla(0, 0%, 100%, 0))), url('../images/partnerimg.jpg');
  background-image: linear-gradient(90deg, rgba(5, 12, 20, 0.68), hsla(0, 0%, 100%, 0)), url('../images/partnerimg.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
}

.hero-section-2.inner {
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 205px;
  padding-bottom: 205px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(5, 12, 20, 0.7)), to(rgba(15, 14, 27, 0.18)));
  background-image: linear-gradient(90deg, rgba(5, 12, 20, 0.7), rgba(15, 14, 27, 0.18));
  text-align: center;
}

.hero-section-2.inner.contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0% 1%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, rgba(5, 12, 20, 0.7)), to(rgba(15, 14, 27, 0.18))), url('../images/backing1.jpg');
  background-image: linear-gradient(90deg, rgba(5, 12, 20, 0.7) 100%, rgba(15, 14, 27, 0.18)), url('../images/backing1.jpg');
  background-position: 0px 0px, 50% 50%;
}

.div-content-hero {
  width: 65%;
}

.div-content-hero.inner {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.headline-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Circularstd, sans-serif;
  color: #fff;
  font-size: 2em;
  line-height: 1em;
}

.subhead-2 {
  width: 70%;
  font-family: Avenir, sans-serif;
  color: rgba(243, 251, 255, 0.92);
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
}

.subhead-2.inner {
  margin-right: auto;
  margin-left: auto;
}

.cta-2 {
  margin-top: 30px;
  padding: 18px 25px;
  border-radius: 4px;
  background-color: #0baa82;
  font-family: Averta, sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.cta-2:hover {
  background-color: #03926e;
}

.cta-2.smaller {
  margin-top: 0px;
  margin-left: 40px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 4px;
  background-color: #0baa82;
  font-size: 17px;
  font-weight: 600;
}

.cta-2.smaller:hover {
  background-color: #03926e;
}

.cta-2.smaller.colour5 {
  padding: 9px 22px;
  border: 2px solid #03926e;
  border-radius: 2px;
  background-color: transparent;
  color: #03926e;
}

.cta-2.smaller.colour5:hover {
  background-color: #03926e;
  color: #fff;
}

.cta-2.smaller.colour5.round {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border: 1px solid #03926e;
  border-radius: 200px;
}

.cta-2.smaller.colour5.round:hover {
  border-color: #03926e;
}

.cta-2.colour5 {
  border-radius: 200px;
  background-color: #03926e;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.amenities-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(8, 24, 25, 0.23);
  border-radius: 8px;
}

.amenities-holder.vertical {
  margin-top: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-style: none;
}

.amenities-holder.vertical.less-width {
  width: 80%;
}

.amenity-block {
  display: block;
  margin-bottom: 0px;
  padding: 40px 2.5%;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  text-align: center;
}

.amenity-block.line-right {
  border-left: 1px solid rgba(8, 24, 25, 0.23);
}

.amenity-block.line-right._2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 0px solid #000;
}

.amenity-block.line-right._2.last {
  height: 320px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

.amenity-block.line-right.last {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px solid #000;
  background-color: #fff;
  font-size: 1em;
}

.amenity-block.line-right.last._2 {
  background-color: #c8fdf0;
}

.amenity-title {
  margin-top: 21px;
  font-family: 'Circularstd book', sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.amenity-title.dark {
  margin-top: 0px;
  font-family: Circularstd, sans-serif;
  color: #18394c;
  font-size: 2em;
  line-height: 1.4em;
  font-weight: 900;
}

.amenity-title.light {
  font-family: Circularstd, sans-serif;
  color: #000;
  font-size: 2em;
  line-height: 1em;
  font-weight: 500;
}

.amenity-title.dark {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #914e4e;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 0.4em;
  line-height: 1em;
  font-weight: 700;
  text-align: center;
}

.amenity-title.dark.title {
  font-size: 2em;
  line-height: 2em;
}

.nav-right-2 {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.category-section {
  padding-right: 10%;
  padding-bottom: 0px;
  padding-left: 10%;
  background-color: #fff;
}

.hiw-number {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 55px;
  height: 55px;
  margin-right: 30px;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-family: 'Tiempos headline', sans-serif;
  color: hsla(0, 0%, 100%, 0.12);
  font-size: 58px;
  line-height: 34px;
  font-weight: 500;
}

.hiw-number.darker {
  opacity: 1;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-family: Avenir, sans-serif;
  color: rgba(116, 148, 140, 0.16);
  font-size: 72px;
}

.paragraph-light {
  margin: 10px 0px 0px;
  font-family: Avenir, sans-serif;
  color: #b7cfcd;
  font-size: 16px;
  font-weight: 300;
}

.paragraph-light.darker {
  color: #556f80;
  font-size: 17px;
  line-height: 21px;
}

.paragraph-light.darker.application {
  margin-top: 5px;
  margin-bottom: 30px;
}

.paragraph-light.darker.application {
  margin-top: 5px;
  margin-bottom: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.footer---updated-link {
  margin-right: 0px;
  margin-bottom: 4px;
  margin-left: 0px;
  opacity: 0.85;
  font-family: Avenir, sans-serif;
  color: #0b3646;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: none;
}

.footer---updated-link:hover {
  opacity: 1;
  color: #03926e;
}

.footer---updated-link.w--current {
  opacity: 1;
  color: #03926e;
}

.footer---updated-link.second-set {
  margin-right: 15px;
  margin-bottom: 0px;
  margin-left: 15px;
  color: rgba(11, 54, 70, 0.8);
  font-size: 15px;
}

.footer---updated-link.second-set:hover {
  color: #03926e;
}

.footer---updated-link.second-set.w--current {
  opacity: 1;
  color: #03926e;
}

.footer---updated-link.second-set.last {
  margin-right: 0px;
}

.lower-footer-links.wide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 43px;
  padding-top: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-top: 3px solid #aaa;
}

.lower-footer-links.right-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hiw-section {
  padding-top: 56px;
  padding-bottom: 56px;
  border-top: 1px none rgba(21, 66, 111, 0.07);
  border-bottom: 1px none rgba(21, 66, 111, 0.07);
  background-color: #fff;
}

.split-holder {
  display: block;
  margin-top: 0px;
  padding: 0px 166px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.split-left {
  width: 50%;
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 0px;
}

.content-holder {
  margin-right: 10%;
  margin-left: 10%;
}

.split-right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.green-features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 46px 10% 46px 47px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-flow: row dense;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
  background-color: #fff;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #000;
}

.hiw-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hiw-block.middle {
  margin-top: 45px;
  margin-bottom: 45px;
  padding-top: 45px;
  padding-bottom: 45px;
  border-top: 1px solid rgba(21, 66, 111, 0.07);
  border-bottom: 1px solid rgba(21, 66, 111, 0.07);
}

.features-content {
  display: block;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border: 1px solid #000;
}

.amenity-title-2 {
  margin-top: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  font-size: 2em;
  line-height: 1em;
  font-weight: 100;
  text-transform: lowercase;
}

.image-fixed {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  margin-top: -157px;
}

.application-section {
  padding-top: 120px;
  padding-bottom: 120px;
  font-family: 'Circularstd book', sans-serif;
}

.application-section.thisopage {
  padding: 24px 0px;
}

.form-holding-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-holding-div.horizontal {
  padding-right: 15%;
  padding-left: 15%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.form-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 0px;
  padding: 0px 32px 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 1px 14px 4px rgba(42, 100, 102, 0.06);
  text-align: left;
}

.form-wrap.wider {
  margin-bottom: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.form-wrap.wider {
  margin-bottom: 0px;
  padding: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.form-label {
  margin-bottom: 2px;
  font-family: Avenir, sans-serif;
  color: #18394c;
  font-weight: 500;
}

.form-style {
  height: 50px;
  margin-bottom: 22px;
  border-style: solid;
  border-width: 1px;
  border-color: #d1dbe0;
  border-radius: 2px;
  font-family: Avenir, sans-serif;
  color: #394650;
}

.form-style.text-area {
  height: 100px;
  font-family: Avenir, sans-serif;
}

.form-style.text-area.address {
  height: 80px;
}

.submit-button {
  margin-top: 5px;
  padding: 14px 35px;
  border-radius: 200px;
  background-color: #03926e;
  font-family: Averta, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.submit-button:hover {
  background-color: #028362;
}

.success-msg {
  padding: 65px 30px;
  border-radius: 4px;
  background-color: #10a76b;
  font-family: Avenir, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.left-col---form {
  padding-left: 0px;
}

.right-col---form {
  padding-right: 0px;
}

.centred-submit {
  text-align: center;
}

.description-text {
  color: #768086;
  font-size: 13px;
}

.scrollable-nav {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 22px 25px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(39, 46, 53, 0.14);
}

.nav-bar {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.brand-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: Avenir, sans-serif;
  color: #102c38;
  font-size: 36px;
  line-height: 38px;
  font-weight: 800;
}

.scrolling-nav {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: none;
  padding: 20px 25px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(39, 46, 53, 0.14);
}

.light-link {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.27);
  color: #fff;
  text-decoration: none;
}

.light-link:hover {
  border-bottom-color: #fff;
}

.web-links-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.web-links-2.footer-logo {
  margin-bottom: 0px;
  padding-bottom: 40px;
}

.web-links-2.right {
  padding-bottom: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.web-links-2.right {
  width: 50vw;
  padding-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.web-links-2.footer-logo {
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-link {
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  opacity: 0.85;
  font-family: Averta, sans-serif;
  color: #465a70;
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
}

.footer-link:hover {
  opacity: 1;
}

.footer-link.last {
  margin-right: 0px;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 45px 12% 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #fff;
  box-shadow: 0 -1px 3px 0 rgba(39, 46, 53, 0.06);
}

.container {
  margin-bottom: 20%;
}

.heading-4 {
  font-family: 'Circularstd book', sans-serif;
  font-size: 1.3em;
  line-height: 1em;
}

.collection-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.collection-list.box {
  height: 100px;
  background-color: #fff;
}

.collection-list.page {
  display: block;
}

.collection-item {
  left: 0px;
  top: -21px;
  right: 0px;
  bottom: 0px;
  display: block;
  margin: 19px;
  padding: 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 20px;
  background-color: hsla(0, 0%, 91.3%, 0.53);
  font-family: Circularstd, sans-serif;
  font-weight: 500;
}

.collection-item.page {
  position: static;
  top: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: 100px;
  margin: 0px;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.body {
  background-color: hsla(0, 0%, 100%, 0.48);
  font-family: 'Circularstd book', sans-serif;
}

.button {
  margin-left: 35px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.collection-list-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
}

.collection-item-2 {
  display: block;
  padding: 1% 3% 0%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border: 1px solid #000;
  -o-object-fit: fill;
  object-fit: fill;
}

.container-2 {
  padding-top: 61px;
  padding-right: 21px;
  padding-left: 27px;
  font-family: Circularstd, sans-serif;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10% 19% 19%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.heading-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  font-size: 3em;
  line-height: 2em;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  text-transform: none;
}

.section-4 {
  font-family: Circularstd, sans-serif;
}

.html-embed-2 {
  padding: 0px;
}

.image-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.columns {
  padding-top: 48px;
}

.text-field {
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.form-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.text-field-2 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.text-block {
  display: none;
  padding-top: 0px;
  color: red;
  text-align: center;
}

.text-block-2 {
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  font-size: 2em;
  line-height: 2em;
  text-align: center;
}

.icon {
  font-size: 1.2em;
}

.collection-list-wrapper-2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.image-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  -o-object-fit: none;
  object-fit: none;
}

.icon-2 {
  font-size: 1.2em;
}

.brand-div-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: Avenir, sans-serif;
  color: #102c38;
  font-size: 36px;
  line-height: 38px;
  font-weight: 800;
}

.brand-div-2.w--current {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.nav-right-3 {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-family: Merriweather, serif;
}

.nav-bar-2 {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.nav-link-2 {
  display: block;
  margin-top: 1px;
  margin-left: 14px;
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-family: Avenir, sans-serif;
  color: #0250a7;
  font-size: 1.4em;
  line-height: 2em;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-transform: none;
}

.nav-link-2:hover {
  color: #101822;
}

.nav-link-2.w--current {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #6e0b7e;
  font-weight: 700;
}

.section-title-2 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #18394c;
  font-size: 42px;
  line-height: 48px;
  font-weight: 800;
  text-align: center;
}

.columns-2 {
  padding: 29px;
  font-weight: 300;
}

.split-holder-2 {
  display: block;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.section-header-2 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0px;
  background-color: #000;
  color: #fff;
}

.footer-link-2 {
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  opacity: 0.85;
  font-family: Averta, sans-serif;
  color: #465a70;
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
}

.footer-link-2:hover {
  opacity: 1;
}

.footer-link-2.left.w--current {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.footer-link-2.last {
  margin-right: 0px;
}

.form-2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.form-holding-div-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-holding-div-2.horizontal {
  margin-top: 0px;
  padding-right: 15%;
  padding-left: 15%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.submit-button-2 {
  margin-top: 5px;
  padding: 14px 35px;
  border-radius: 200px;
  background-color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.submit-button-2:hover {
  background-color: #028362;
}

.form-style-2 {
  height: 50px;
  margin-bottom: 22px;
  border-style: solid;
  border-width: 1px;
  border-color: #d1dbe0;
  border-radius: 2px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #394650;
}

.form-style-2.text-area {
  height: 100px;
  font-family: Avenir, sans-serif;
}

.form-style-2.text-area.address {
  height: 80px;
}

.form-label-2 {
  margin-bottom: 2px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #18394c;
  font-weight: 500;
}

.application-section-2 {
  padding-top: 45px;
  padding-bottom: 120px;
  font-family: 'Circularstd book', sans-serif;
}

.text-block-3 {
  font-family: 'Circularstd book', sans-serif;
  color: #6b6b6b;
  font-size: 1.6em;
  line-height: 1em;
}

.container-3 {
  padding: 25% 25% 0%;
  background-image: url('../images/Screen-Shot-2020-09-17-at-11.15.37-PM.png'), url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
  background-repeat: no-repeat, repeat;
}

.heading-6 {
  color: #fff;
}

.text-block-4 {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-family: Lato, sans-serif;
  font-size: 2em;
  line-height: 1.5em;
}

.text-span {
  display: inline-block;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  font-family: Circularstd, sans-serif;
  font-weight: 900;
  text-align: center;
}

.text-span-2 {
  display: inline-block;
  font-size: 0.7em;
  line-height: 1.4em;
  text-align: center;
}

.text-block-5 {
  padding: 131px;
  font-family: Montserrat, sans-serif;
  font-size: 1em;
  line-height: 3em;
  font-weight: 800;
}

.div-block {
  width: 200px;
  height: 200px;
  border-radius: 1000px;
}

.container-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-2 {
  position: absolute;
  right: 0px;
  bottom: -33.81px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: #fff;
}

.qroj {
  font-family: Oswald, sans-serif;
  color: #0b005f;
  font-size: 2em;
  line-height: 1.4em;
  font-weight: 600;
}

.image-4 {
  margin-bottom: -33px;
}

.container-5 {
  position: relative;
  z-index: 99989;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
}

html.w-mod-js *[data-ix="fade-on-load-1"] {
  opacity: 0;
  -webkit-transform: translate(0px, 10px);
  -ms-transform: translate(0px, 10px);
  transform: translate(0px, 10px);
}

html.w-mod-js *[data-ix="fade-on-load-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, 10px);
  -ms-transform: translate(0px, 10px);
  transform: translate(0px, 10px);
}

html.w-mod-js *[data-ix="fade-on-load-3"] {
  opacity: 0;
  -webkit-transform: translate(0px, 10px);
  -ms-transform: translate(0px, 10px);
  transform: translate(0px, 10px);
}

html.w-mod-js *[data-ix="fade-on-scroll-1"] {
  opacity: 0;
  -webkit-transform: translate(0px, 10px);
  -ms-transform: translate(0px, 10px);
  transform: translate(0px, 10px);
}

html.w-mod-js *[data-ix="fade-on-scroll-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, 10px);
  -ms-transform: translate(0px, 10px);
  transform: translate(0px, 10px);
}

html.w-mod-js *[data-ix="display-none"] {
  display: none;
}

@media screen and (max-width: 991px) {
  .nav-link {
    margin-right: 40px;
    margin-bottom: 32px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
  }

  .nav-link.w--current {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .nav-link.pricelist {
    display: inline-block;
    margin-bottom: 18px;
    padding: 20px;
    border-radius: 99px;
    background-color: #ffd000;
    color: #000;
  }

  .section-subhead.narrower-middle {
    width: 90%;
  }

  .section-subhead.narrower-middle {
    width: 90%;
  }

  .section-3 {
    padding-top: 7px;
  }

  .hero-section-2.inner {
    padding-top: 190px;
  }

  .div-content-hero {
    width: 100%;
  }

  .cta-2.smaller.colour5.round {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 17px;
    padding-bottom: 17px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 20px;
    line-height: 24px;
  }

  .amenities-holder.vertical.less-width {
    width: 90%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
  }

  .amenity-block {
    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .amenity-block.line-right {
    border-top: 1px solid rgba(8, 24, 25, 0.23);
    border-left-style: none;
  }

  .amenity-block.line-right._2 {
    height: 350px;
    border-right: 1px solid rgba(8, 24, 25, 0.23);
  }

  .amenity-block.line-right._2.last {
    height: 350px;
  }

  .amenity-block.line-right.last {
    height: 350px;
  }

  .amenity-title.light {
    margin-top: 0px;
  }

  .amenity-title.dark {
    padding-right: 0px;
    padding-left: 0px;
  }

  .amenity-title.dark.title {
    font-size: 2em;
    line-height: 2em;
  }

  .nav-right-2 {
    position: absolute;
    top: 82px;
    z-index: 99;
    margin-top: 0px;
    padding-top: 35px;
    padding-bottom: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #fff;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.06);
  }

  .category-section {
    padding: 100px 5% 0px;
  }

  .hiw-section {
    padding-top: 100px;
    padding-bottom: 0px;
  }

  .split-holder {
    margin-right: 5%;
    margin-left: 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .split-left {
    width: 90%;
    margin-top: 69px;
    padding-right: 0px;
  }

  .content-holder {
    margin-right: 5%;
    margin-left: 5%;
  }

  .split-right {
    width: 100%;
    padding-left: 0%;
  }

  .green-features {
    padding: 20px 5%;
  }

  .form-holding-div.horizontal {
    padding-right: 6%;
    padding-left: 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .form-wrap {
    width: 90%;
  }

  .form-wrap.wider {
    width: 100%;
    padding-bottom: 50px;
  }

  .form-wrap.wider {
    width: 100%;
    padding-bottom: 50px;
  }

  .nav-bar {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .brand-div {
    margin-top: 11px;
  }

  .scrolling-nav {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .menu-button {
    padding: 6px 0px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    color: #1d3857;
    font-size: 48px;
  }

  .menu-button.w--open {
    background-color: #fff;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #1d3857;
  }

  .web-links-2.footer-logo {
    width: 100%;
    margin-bottom: 2px;
    padding-bottom: 35px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .web-links-2.right {
    width: 100%;
    padding-bottom: 30px;
  }

  .web-links-2.right {
    width: 100%;
    padding-bottom: 30px;
  }

  .web-links-2.footer-logo {
    width: 100%;
    margin-bottom: 2px;
    padding-bottom: 35px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-link.left {
    margin-left: 0px;
  }

  .footer {
    padding-right: 4%;
    padding-left: 4%;
  }

  .container {
    display: block;
  }

  .collection-list.page {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 64px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .collection-list-2 {
    padding: 0px;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .container-2 {
    padding: 0px;
  }

  .form {
    background-color: #f1f1f1;
  }

  .heading-5 {
    font-family: Inconsolata, monospace;
    font-weight: 500;
  }

  .text-block-2 {
    font-family: Inconsolata, monospace;
  }

  .collection-item-3 {
    padding-bottom: 26px;
  }

  .collection-item-4 {
    padding-bottom: 0px;
    border: 1px none #000;
    border-radius: 20px;
  }

  .icon {
    font-size: 1em;
  }

  .icon-2 {
    font-size: 1em;
  }

  .brand-div-2 {
    margin-top: 11px;
  }

  .nav-right-3 {
    position: absolute;
    top: 82px;
    z-index: 99;
    margin-top: 0px;
    padding-top: 35px;
    padding-bottom: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #fff;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.06);
  }

  .nav-bar-2 {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-link-2 {
    margin-right: 40px;
    margin-bottom: 32px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
  }

  .nav-link-2.w--current {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .column {
    padding: 42px;
  }

  .columns-2 {
    padding-top: 57px;
    padding-bottom: 57px;
  }

  .split-holder-2 {
    margin-right: 5%;
    margin-left: 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .footer-link-2.left {
    margin-left: 0px;
  }

  .form-holding-div-2 {
    margin-top: 0px;
  }

  .form-holding-div-2.horizontal {
    padding-right: 6%;
    padding-left: 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .application-section-2 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 32px;
  }

  .section-3 {
    padding-top: 0px;
    background-position: 0px 0px, 100% 50%;
  }

  .hero-section-2.inner {
    padding-right: 5%;
    padding-left: 5%;
  }

  .div-content-hero {
    text-align: center;
  }

  .headline-2 {
    font-size: 52px;
    line-height: 64px;
    text-align: center;
  }

  .subhead-2.inner {
    width: 90%;
  }

  .amenity-block.line-right._2 {
    width: 100%;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }

  .amenity-block.line-right.last {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }

  .category-section {
    padding-bottom: 0px;
  }

  .split-holder {
    padding-right: 14px;
    padding-left: 0px;
  }

  .green-features {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .image-fixed {
    padding-top: 140px;
    padding-bottom: 140px;
  }

  .application-section {
    padding-bottom: 90px;
  }

  .application-section.thisopage {
    padding-top: 0px;
  }

  .form-wrap {
    width: 90%;
  }

  .form-wrap.wider {
    padding-bottom: 40px;
  }

  .form-wrap.wider {
    padding-bottom: 40px;
  }

  .form-style {
    margin-bottom: 26px;
  }

  .left-col---form {
    padding-right: 0px;
  }

  .right-col---form {
    padding-left: 0px;
  }

  .nav-bar {
    padding-right: 15px;
    padding-left: 15px;
  }

  .scrolling-nav {
    padding-right: 15px;
    padding-left: 15px;
  }

  .web-links-2.footer-logo {
    padding-bottom: 45px;
  }

  .web-links-2.right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .web-links-2.right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .web-links-2.footer-logo {
    padding-bottom: 45px;
  }

  .collection-list-wrapper {
    padding: 46px;
  }

  .nav-bar-2 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .section-title-2 {
    font-size: 32px;
  }

  .split-holder-2 {
    padding-right: 14px;
    padding-left: 0px;
  }

  .form-style-2 {
    margin-bottom: 26px;
  }

  .application-section-2 {
    padding-bottom: 90px;
  }

  .image-4 {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .section-header {
    margin-bottom: 0px;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    font-family: Avenir, sans-serif;
    font-weight: 900;
  }

  .section-title {
    font-size: 28px;
    line-height: 38px;
    font-weight: 700;
  }

  .section-subhead.narrower-middle {
    width: 95%;
    font-size: 19px;
  }

  .section-subhead.narrower-middle {
    width: 95%;
    font-size: 19px;
  }

  .hero-section-2.inner {
    padding: 145px 3% 140px;
  }

  .headline-2 {
    font-size: 40px;
    line-height: 50px;
  }

  .subhead-2.inner {
    width: 95%;
  }

  .cta-2.smaller.colour5.round {
    width: 90%;
  }

  .amenity-block {
    width: 100%;
    border-bottom: 1px solid rgba(8, 24, 25, 0.23);
  }

  .amenity-block.line-right {
    border-top-style: none;
  }

  .amenity-block.line-right._2 {
    border-top-style: none;
    border-right-style: none;
  }

  .amenity-block.line-right.last {
    border-bottom-style: none;
  }

  .amenity-title.dark {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #210a64;
  }

  .amenity-title.dark.title {
    color: #fff;
    line-height: 1em;
    text-align: center;
  }

  .category-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 6px;
    padding-bottom: 6px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .hiw-number.darker {
    width: auto;
    height: auto;
    margin-right: 0px;
    margin-bottom: 10px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    font-size: 44px;
  }

  .lower-footer-links.wide {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .lower-footer-links.right-links {
    margin-top: 17px;
  }

  .hiw-section {
    padding-bottom: 67px;
  }

  .split-holder {
    padding-left: 19px;
  }

  .split-left {
    width: 100%;
  }

  .hiw-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .image-fixed {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .application-section.thisopage {
    padding-top: 39px;
  }

  .form-wrap {
    width: auto;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .success-msg {
    padding-right: 15px;
    padding-left: 15px;
  }

  .nav-bar {
    padding-right: 5px;
    padding-left: 5px;
  }

  .menu-button {
    left: 1px;
    bottom: -7px;
    padding: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 20px;
    background-color: #04445f;
    color: #fff;
  }

  .menu-button.w--open {
    z-index: auto;
  }

  .web-links-2.right {
    padding-bottom: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .web-links-2.right {
    padding-bottom: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .web-links-2.footer-logo {
    padding-bottom: 0px;
  }

  .footer-link {
    margin-right: 20px;
    margin-bottom: 9px;
    margin-left: 20px;
  }

  .footer-link.last {
    margin-right: 20px;
  }

  .footer-link.left {
    margin-left: 20px;
  }

  .button {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .form {
    padding-right: 8%;
    padding-left: 8%;
  }

  .heading-5 {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    font-size: 10vw;
  }

  .collection-list-wrapper {
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }

  .image-3 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -o-object-fit: none;
    object-fit: none;
  }

  .icon-2 {
    color: #016ce5;
  }

  .nav-right-3 {
    padding-right: 35px;
    padding-left: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }

  .nav-bar-2 {
    padding-right: 5px;
    padding-left: 5px;
  }

  .nav-link-2 {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .section-title-2 {
    font-size: 28px;
    line-height: 38px;
    font-weight: 700;
  }

  .columns-2 {
    padding: 25px 0px;
  }

  .split-holder-2 {
    padding-left: 19px;
  }

  .section-header-2 {
    margin-bottom: 0px;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    font-family: Avenir, sans-serif;
    font-weight: 900;
  }

  .footer-link-2 {
    margin-right: 20px;
    margin-bottom: 9px;
    margin-left: 20px;
  }

  .footer-link-2.left {
    margin-left: 20px;
  }

  .footer-link-2.last {
    margin-right: 20px;
  }

  .form-holding-div-2.horizontal {
    padding-left: 0%;
  }

  .application-section-2 {
    padding-top: 59px;
  }

  .container-3 {
    display: none;
  }

  .text-block-4 {
    overflow: hidden;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    text-align: center;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .text-span {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .image-4 {
    display: none;
  }
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-LT-95-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Tiempos headline';
  src: url('../fonts/Tiempos-Headline---Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Tiempos headline';
  src: url('../fonts/Tiempos-Headline---Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Tiempos headline';
  src: url('../fonts/Tiempos-Headline---Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Tiempos headline';
  src: url('../fonts/Tiempos-Headline---Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta-Thin.otf') format('opentype'), url('../fonts/Averta-Extrathin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Circularstd';
  src: url('../fonts/CircularStd-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Circularstd';
  src: url('../fonts/CircularStd-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Circularstd';
  src: url('../fonts/CircularStd-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Circularstd book';
  src: url('../fonts/CircularStd-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirLTStd-Medium.otf') format('opentype'), url('../fonts/AvenirLTStd-Roman.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirLTStd-Heavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirLTStd-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirLTStd-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}